<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted text-centre">&copy; YelpCamp 2022</span>
        <span class="text-muted text-end">- Jash Roy</span>
    </div>
</footer>